<div class="col-3" style="background-color: whitesmoke;font-family: Century">
    <h3>
        Leader Board
    </h3>
    <div class="row">
        <div class="col" id="HV">
            <div>
                Highest Scorer is {{posts.hv_post}}
            </div>
        </div>
    </div>
</div>