
    <div class="col">
        <form action="/upload" class="p-4" method="post">
            <div class="form-group ">

                <input type="text" class="form-control" id="signup_user" placeholder="What's on your mind" name="text">
            </div>
            <input type="submit" class="btn btn-primary " value="Upload">
        </form>
    </div>

