<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/js/jquery-3.2.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/post.js"></script>
    <script src="/js/achievement.js"></script>
    <script src="/js/comment.js"></script>
    <title>home</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row bg-dark">
            <div class="col" style='font-family: "Apple Color Emoji";color: white;font-size: large'>

                <i class="far fa-smile" style="font-size: 36px"></i> <p>Irony</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2 bg-light ">
                <div class="row">

                    <div class="col" >

                        <div  class="text-center nav flex-column nav-pills">
                            <div>
                                <a class="nav-link " href="http://localhost:2400/user/home" style="font-size:15px">Home</a>

                            </div>
                            <div>

                                <a class="nav-link"href="http://localhost:2400/user/Mypost"style="font-size:15px">My Post</a>
                            </div>
                            <div>

                                <a class="nav-link"href="http://localhost:2400/user/achievement" style="font-size:15px">Achievement</a>
                            </div>
                            <div>

                                <a class="nav-link" href="http://localhost:2400/user/Mypost" style="font-size:15px">Notifications</a>
                            </div>
                            <div class="nav-item">

                                <a class="nav-link"href="http://localhost:2400/user/profile"style="font-size:15px">Edit Profie</a>
                            </div>
                            <div class="nav-item">
                                <a href="/logout" class="nav-link ">
                                    Logout
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col" style="float:left;width:1000px;overflow-y: auto;height: 680px;">
                {{{body}}}
            </div>

            <div class="col-3" style="background-color: whitesmoke;font-family: Century">
                <h3>
                    Leader Board
                </h3>
                <div class="row">
                    <div class="col" id="HV">
                        <div  >
                            Highest voted Post is {{posts.hv_post}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>