<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
    <article class="post post--is-loading">
        <div class="post__loader">
            <div class="loader__bar--1">jgjhgjhghjgjhgjhghj</div>
            <div class="loader__bar--2"></div>
            <div class="loader__bar--3"></div>
            <div class="loader__bar--4"></div>
            <div class="loader__bar--5"></div>
            <div class="loader__bar--6">kgjjjjjjjjjjjjj</div>
            <div class="loader__bar--7"></div>
            <div class="loader__bar--8"></div>
            <div class="loader__bar--9"></div>
            <div class="loader__bar--10"></div>
            <div class="loader__bar--11"></div>
            <div class="loader__bar--12"></div>
        </div>
    </article>

    <article class="post post--is-loading">
        <div class="post__loader">
            <div class="loader__bar--1"></div>
            <div class="loader__bar--2"></div>
            <div class="loader__bar--3"></div>
            <div class="loader__bar--4"></div>
            <div class="loader__bar--5"></div>
            <div class="loader__bar--6"></div>
            <div class="loader__bar--7"></div>
            <div class="loader__bar--8"></div>
            <div class="loader__bar--9"></div>
            <div class="loader__bar--10"></div>
            <div class="loader__bar--11"></div>
            <div class="loader__bar--12"></div>
        </div>
    </article>

    <article class="post post--is-loading">
        <div class="post__loader">
            <div class="loader__bar--1"></div>
            <div class="loader__bar--2"></div>
            <div class="loader__bar--3"></div>
            <div class="loader__bar--4"></div>
            <div class="loader__bar--5"></div>
            <div class="loader__bar--6"></div>
            <div class="loader__bar--7"></div>
            <div class="loader__bar--8">gjghjgjhghjgjhgjhgjh</div>
            <div class="loader__bar--9"></div>
            <div class="loader__bar--10"></div>
            <div class="loader__bar--11"></div>
            <div class="loader__bar--12"></div>
        </div>
    </article>
</main>
</body>
</html>