<div class="row">

{{#if posts.college}}
    <div class="offset-2">
    {{>send_post}}
    {{>searched_post}}
    </div>

        {{>ranker}}

{{else}}
    <div class="col" >
        <div class="row">
            <div class="col" style="float:left;width:1000px;overflow-y: auto;height: 800px;-ms-scrollbar-track-color: transparent;">
                <div class="col alert-danger">
                    Update your profile that is college name,username
                </div>
            </div>
        </div>

    </div>

{{/if}}


</div>
