
    <div class="container">
        <div class="row">
            <input class="form-control col m-4" type="text" id="inp_msg">
            <button class="btn btn-info col m-4" id="send_btn">SEND</button>
        </div>
            <div class="row p-4 m-4" id="chatlist">

            </div>
    </div>
