
    <div class="container bg-dark">
        <div class="row mx-1">
            <div class="col bg-light mt-1">
                <h1 class="text-center ">Discuss</h1>
            </div>
        </div>

            <div class="row mt-2 bg-light py-3 mx-1">
                <div class="col ">
                    <h3> Discussion on:{{post.text}}</h3>
                    <span class="float-left">By:{{post.Puser.username}}</span>
                </div>
            </div>



        <div class="row p-4 offset-2 " >

                <div class="col-8 ml-4" id="chatlist">

                </div>
        </div>
        <hr class="bg-white">
        <div class="row offset-2 mb-5">
            <div class="col-5 py2 mb-2">

                <input class="form-control col m-4" type="text" id="inp_msg" placeholder="Write your view here">
            </div>
            <div class="col-3">
                <button class="btn btn-info col m-4" id="send_btn">SEND</button>
            </div>
        </div>
    </div>
