<div class="row mt-5 pt-5 ">
    <div class="col text-center text-white">
        <h1>Create a disscussion communtity in your college</h1>
        <h2>discuss your college issues,upload memes etc.</h2>
        <h3>earn badges,increase your repo</h3>
        <h4>get involve in the discussion group of other colleges</h4>
    </div>
</div>
<div class="row px-5 ">
    <div class="col offset-5 px-5 mt-5 py-3">
        <a href="/auth/signup" class="btn btn-primary">  Get Started  </a>

    </div>
</div>
<style>
    body{
        background: url("assets/home.png");
        background-size: cover;
    }
</style>

