
<div class="container-fluid">
    <div class="row">
        {{>collegues}}
        <div class="col" style="float:left;overflow-y: auto;height: 780px;">
            <h2 class="text-center" style="font-family: Century">
                Your Posts
            </h2>

            <div id="posts">
                {{>searched_post}}
            </div>
        </div>

            {{>ranker}}

    </div>
</div>