<div class="container mt-5">
    <div class="row ">
        <div class="col-12 text-white mt-5" style="background: rgba(0,0,0,0.5);">
            <form action="/auth/signup" method="post">
                {{#if alert}}
                    <div class="alert-danger">
                        {{alert}}
                    </div>
                {{/if}}
                <div class="row mt-4">
                    <div class="form-group offset-md-2 col-4">
                        <label for="signup_user">Username</label>
                        <input type="text" class="form-control" id="signup_user" placeholder="Username " name="userName" required>
                    </div>
                    <div class="form-group col-4">
                        <label for="signup_email">Email Id</label>
                        <input type="email" class="form-control" id="signup_email" placeholder="Email Address" name="email" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group offset-md-2 col-4">
                        <label for="college" >College Name</label>
                        <select type="text" name="college"  class="form-control text-center" required>
                            <option value="">Select Your College</option>
                            <option value="DTU">Delhi Technological University</option>
                            <option value="NIT(Delhi)">Maharaja Agresen</option>
                            <option value="SRCC">Shri Ram College of Commerce</option>
                            <option value="Hindu College">Hindu College</option>
                            <option value="NSIT"> Netaji Shubhas Institute of Technological</option>
                            <option value="IITD">Indian Institute of Technological(Delhi)</option>
                        </select>
                        <!--  <input type="text" name="college" class="form-control" id="college" value="{{user.college}}">-->
                    </div>
                      <div class="form-group col-4">
                            <label for="courseYear">Course Year</label>
                          <select type="text" name="courseYear" is="courseYear" class="form-control text-center" required>
                              <option value="">Course Year</option>
                              <option value="I">Ist Year</option>
                              <option value="II">IInd Year</option>
                              <option value="III">IIIrd Year</option>
                              <option value="IV">IV Year</option>
                              <option value="V"> Vth Year</option>
                          </select>
                        </div>
                </div>
                    <div class="row">
                        <div class="form-group offset-2 col-4">
                            <label for="signup_pass">Password</label>
                            <input type="password" class="form-control" id="signup_pass" placeholder="Password" name="password"required>
                        </div>
                        <div class="form-group col-4">
                            <label for="signup_con_pass">Confirm Password</label>
                            <input type="password" class="form-control" id="signup_con_pass" placeholder="Password" name="confPassword" required>
                        </div>
                    </div>
                <button type="submit" class="btn mb-4 offset-5 btn-primary">Signup</button>
            </form>
        </div>
    </div>
</div>

<style>
    body{
        background: url("/assets/signup.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>